#leo{
    color: red;
}
#cr{
    color: blue;
}
#fr{
    color: orange;
}
#tab{
    background-color: red;
}
#rw{
    background-color: grey;
}
#customRange1{
    width: 50%;
}
#ran{
    width: 100%;
}
#img{
    width: 70%;
}
#control{
    background-color: black;
}
#miCarrusel{
    width: 400px;
    height: 300px;
}